<%= link_to 'New', new_post_path, class: 'btn btn-default' %>
<div class="row posts">
  <div class="title">
    附近熱門
    <%= link_to "and more...", index_all_path, class: "more" %>
  </div>
  <% @posts.most_hit.each do |post| %>
  <div class="col-xs-6 col-md-2 box">
    <div class="image-wrapper overlay-fade-in" >
    <% if post.cover_image || post.avatar_file_name %>
      <%= index_cover_image(post) %>
    <% else %>
      <%= link_to (image_tag "default.jpg"), post, class: 'thumbnail'  %>
    <% end %>
        <div class="image-overlay-content" onclick='location.href="posts/<%=post.id%>"'>
        <h2><%= link_to post.name, post %></h2>
      </div>
      <div class="post_data">
        <i class="fa fa-eye"> <%= post.hits %></i>
        <i class="fa fa-heart"><%= post.favorites.count %></i>
      </div>
    </div>
  </div>
  <% end %>
</div>
<script type="text/javascript">
  $('.posts img').css('height','130px');
</script>