<!DOCTYPE html>
<html>
<head>
  <title>Campus</title>
  <%= stylesheet_link_tag    'users/user_manager', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          Campus
        </a>
      </div>
      <p class="navbar-text navbar-right">
        <% if user_signed_in? %>
          <%= link_to current_user.name, user_infos_path %> |
          <%= link_to "LogOut",destroy_user_session_path,method: :delete %>
        <% else %>
          <%= link_to "SignIn", new_user_session_path %> |
          <%= link_to "SignUp", new_user_registration_path %>
        <% end %>
      </p>
    </div>
  </nav>
</div>

  <div class="row">
    <div class="col-md-9 col-md-offset-2" style="margin-top:60px">
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
      <%= yield %>
    </div>
  </div>

</body>
</html>
